:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --white-primary: #b6b6b6;
    --white-secondary: #ececec;
    --black-primary: #23232e;
    --black-secondary: #141418;
    --pink-primary: #ff7eee;
    --pink-secondary: #df49a6;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

li {
    list-style-type: none;
}


main {
    padding: 1rem;
}

main.blur{
    background: red;
}


.g-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 1rem;
    box-shadow: 2px 2px 3px rgba(100, 100, 100, 0.1);
}

.g-sidebar {
    display: flex;
    justify-content: space-between;
}

.g-sidebar-kiri {
    display: none;
    position: fixed;
    width: 1rem;
    height: calc(100vh - 60px);
    transition: add 200ms ease;
    background: #FFFFFF;
    padding: 1rem 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.g-sidebar-kiri.active {
    display: block;
    width: 15rem;
}

.g-navbar-nav{
    padding: 0;
    margin: 0;
}

.g-nav-item{
    height: 3rem;
    display: flex;
    align-items: center;
}

.g-nav-link{
    padding: 0 1rem;
    width: 100%;
    color: var(--black-secondary);
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.g-nav-link:hover {
    filter: grayscale(100%) opacity(0.7);
    background: var(--white-primary);
}


.g-sidebar-kanan {
    display: none;
    position: fixed;
    width: 1rem;
    height: calc(100vh - 60px);
    right: 0;
    transition: add 200ms ease;
    background: #FFFFFF;
    padding: 1rem 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.g-sidebar-kanan.active {
    display: block;
    width: 15rem;
}

g-sidebar-kiri.active {
    display: block;
    width: 15rem;
}





